node_modules/
.env
**/.next
**/build
**/coverage
!app/src/coverage
!app/src/app/api/students/[[]id]/coverage/
!app/src/app/api/students/[[]id]/coverage/**
app/prisma/dev.db
app/node-compile-cache

app/drizzle/meta/
